body{
	background-color: #000026;
}

h1{
	font-family: Courier;
    font-size: 300%;
    color: white;
    text-align: center;
  	margin-left: auto;
  	margin-right: auto;
}

div{
	display: block;
	height:  601px;
	width: 1001px;
  	margin-left: auto;
  	margin-right: auto;
	border:10px groove green;
}

img{
	height:  600px;
	width: 1000px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}